@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

main{
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  padding-right: 10px;
  gap: 20px;
  font-family: 'Noto Sans', sans-serif;
}

#about-IMC {
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#inputsValue{
  padding-bottom: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}


.entrada{
  width: 200px;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.entrada:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.3);
}

h2{
  color: rgb(2, 2, 70);
}

table {
  padding: 2px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#items-table {
  text-align: center;
  font-size: 15px;
  margin: 30px;
}

td {
  padding: 5px;
}

span {
  font-weight: bold;
  color: rgb(2, 75, 2);
}


#card-interpretacao{
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


button {
  background-color: #04a327;
  font-size: large;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: #0059b3;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.3);
}
